* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

td,
i,
.pointer {
  cursor: pointer;
}

.self-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hoverable:hover {
  background-color: lightslategray;
}

.grab {
  cursor: grab;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.grab:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

.gray-placeholder::placeholder {
  color: gray;
}

.z-1 {
  z-index: 1000;
}
